body {
    margin:0;
}
body, td, .plain {
    color:#222222;
    font-family:arial,sans-serif;
    font-size:9pt;
}
.tm {
    margin-bottom:0;
    margin-top:8pt;
}
table, td {
    padding:6;
    width: 50px;
}
.stat {
    color:#990000;
    font-size:10pt;
    font-weight:bold;
}
.reset {
    color:#990000;
    font-size:8pt;
}
input.reset {
    background-color:transparent;
    border:1px solid;
    padding:0;
}
a:link, a:active, a:visited {
    color:#3333FF;
    text-decoration:none;
}
a:hover {
    text-decoration:underline;
}
.c0 {
    font-family:times,serif;
    font-size:24pt;
    height:25pt;
    text-align:center;
    vertical-align:middle;
    width:24pt;
}

.t {
    background-color:#FFFFFF;
    border:2px solid #666699;
    border-collapse:collapse;
}

.c0, .e0, .f0, .g0 {
    border:1px solid #DDDDEE;
}
.col2, .col5{
    border-right:2px solid #666699;
}
.row3, .row6 {
    border-top:2px solid #666699;
}

.possible {
    vertical-align:top;
    font-size:6pt;
    font-color:blue;
    margin-top:0;
}
